@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
	:root {
		/* Name: custom color palette
		   Author: Ilias Ism
		   URL: https://gradient.page */
	
		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left,#085078,#85D8CE);
		--background: 214 99.35% 98.5%;
		--foreground: 214 8.7% 1%;
	
		--muted: 214 8.7% 92.5%;
		--muted-foreground: 214 4.35% 42.5%;
	
		--popover: 214 20.400000000000006% 92.5%;
		--popover-foreground: 214 8.7% 1.25%;
	
		--card: 214 20.400000000000006% 92.5%;
		--card-foreground: 214 8.7% 1.25%;
	
		--border: 214 13.7% 90%;
		--input: 214 13.7% 90%;
	
		--primary: 214 87% 25%;
		--primary-foreground: 214 1.74% 92.5%;
	
		--secondary: 214 4.35% 96.25%;
		--secondary-foreground: 214 6.22% 12.5%;
	
		--accent: 214 4.35% 96.25%;
		--accent-foreground: 214 6.22% 12.5%;
	
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
	
		--ring: 214 87% 25%;
	
		--radius: 0.5rem;
	}
	.dark {
		/* Name: custom color palette
		   Author: Ilias Ism
		   URL: https://gradient.page */
	
		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left,#7DE2FC,#B9B6E5);
	
		--background: 204 61.75% 5.92%;
		--foreground: 204 9.5% 98.7%;
	
		--muted: 204 47.5% 22.2%;
		--muted-foreground: 204 9.5% 57.4%;
	
		--popover: 204 46% 9.62%;
		--popover-foreground: 204 9.5% 98.7%;
	
		--card: 204 46% 9.62%;
		--card-foreground: 204 9.5% 98.7%;
	
		--border: 204 47.5% 22.2%;
		--input: 204 47.5% 22.2%;
	
		--primary: 204 95% 74%;
		--primary-foreground: 204 9.5% 7.4%;
	
		--secondary: 204 47.5% 22.2%;
		--secondary-foreground: 204 9.5% 98.7%;
	
		--accent: 204 47.5% 22.2%;
		--accent-foreground: 204 9.5% 98.7%;
	
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 204 9.5% 98.7%;
	
		--ring: 204 95% 74%;
	}
}
 
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}